.overlay-background {
  background-color: gray;
  display: flex;
  width: 100%;
  flex-direction: column;
}
/* parent */
.flex {
  display: flex;
}
/* category left side */
.events {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  padding: 20px;
}
/* category right side */
.magic-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  padding: 20px;
}
/* individual card layout */
.card {
  border: 0.2rem solid black;
  position: relative;
  margin: 10px;
}
.card .overlay {
  opacity: 1;
}

.card:hover .overlay {
  opacity: 0;
}
/* all images */
.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through  */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
}
